@import './button-reset.css';

:host {
  transition: transform 1s;
  display: inline-flex;

  --background-color: var(--bp-color-base);
  --color: var(--bp-color-contrast);
  color: color-mix(in lch, purple 50%, plum 50%);
  height: 100%;
}

:host(.bp-variant__solid) {
  --background-color: var(--bp-color-base);
  --background-color-activated: var(--bp-color-shade);
  --background-color-focused: var(--bp-color-shade);
  --background-color-hover: var(--bp-color-tint);
  --color: var(--bp-color-contrast);
  --color-hover: var(--color);
  --border-type: solid;
  --border-color: transparent;
}

:host(.bp-variant__outline) {
  --background-color: transparent;
  --background-color-activated: var(--bp-color-shade);
  --background-color-focused: var(--bp-color-shade);
  --background-color-hover: var(--bp-color-tint);
  --color: var(--bp-color-base);
  --color-hover: var(--bp-color-base);
  --border-type: solid;
  --border-color: var(--bp-color-base);
}

:host(.bp-variant__clear) {
  --background-color: transparent;
  --background-color-activated: var(--bp-color-shade);
  --background-color-focused: var(--bp-color-shade);
  --background-color-hover: transparent;
  --color: var(--bp-color-base);
  --color-hover: var(--bp-color-tint);
  --border-type: solid;
  --border-color: transparent;
}

:host(.seperator-before) {
  --seperator-color: hsl(0, 0%, 25%);
  &::before {
    content: '';
    display: inline-block;
    display: block;
    width: 1px;
    height: calc(100% - 10px);
    margin: 5px 2px;
    background: var(--seperator-color);
  }
}

:host(.seperator-after) {
  --seperator-color: hsl(0, 0%, 25%);
  &::after {
    content: '';
    display: inline-block;
    display: block;
    width: 1px;
    height: calc(100% - 10px);
    margin: 5px 2px;
    background: var(--seperator-color);
  }
}

:host button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  cursor: pointer;
  border: 1px var(--border-type) var(--border-color);
  padding: var(--padding, 0.5rem 1rem);
  border-radius: 10px;
  background-color: var(--background-color);
  color: var(--color);
  font-weight: 400;
  font-size: var(--font-size);

  &:active {
    background-color: var(--background-color-activated);
  }
  &:focus-visible {
    outline: 2px solid var(--background-color-focused);
  }
  &:hover {
    background-color: var(--background-color-hover);
    color: var(--color-hover);
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  & [part="main"] {
    display: inline-block;
  }

  & slot[name="start"]::slotted(*) {

  }

  & slot[name="end"]::slotted(*) {

  }

  & slot[name="icon-only"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &.bp-button__has-icon-only {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

    & slot[part="main"] {
      display: none;
    }
  }
}

